/* начало подключения нестандартных шрифтов  */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotolight/RobotoLight.eot");
    src: url("../fonts/Robotolight/Robotolight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Robotolight/Robotolight.woff") format("woff"),
        url("../fonts/Robotolight/Robotolight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
        url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
        url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
        url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* конец подключения нестандартных шрифтов  */

/* начало свойств для общих элементов */
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background: #fff;
   /* min-height: calc(100vh - 130px);*/
   height: 100%;
}

content {
    min-height: calc(100vh - 366px);
}
/* конец свойств для общих элементов */

/*Начало стилей для Хедера*/
header {
    background-color: #fff;
    color: #1F8A70;
    border-top: 3px solid #1F8A70;
}

.header__logo {
    margin: 9px 0 5px;
}

.header__logo_img {
    display: block;
    width: 170px;
    height: 93px;
    margin: 9px 0 5px 0;
}

.header__col {
    padding-right: 0;
    padding-left: 0;
}


.header__cart {
    margin: 30px 0 15px;
    text-align: right;
    position: relative;
}

.header__logo_cat {
    display: block;
    width: 37px;
    height: 40px;
    float: right;
    margin: 5px 15px 0 0;
}


.header__logo_cat:hover,
.header__cart_shape:hover {
    cursor: pointer;
}

.header__cart_shape {
    background: url(../img/Shape.png) no-repeat;
    display: block;
    width: 32px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 0px;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    color: #1F8A70;
}

.header__logo_cat:hover,
.header__cart_shape:hover {
    cursor: pointer;
}

.header__cart_shape span {
    vertical-align: middle;
    margin-right: 4px;
}

.header__cart p {
    display: inline;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #1F8A70;
    margin: 15px;
}

.header__cart_sum {
    display: inline-block;
    margin-right: 15px;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    color: #1F8A70;
}

.header__cart_sum span {
    font-weight: 700;
    font-size: 16px;
}

.nav {
    color: #1F8A70;
    height: 31px;
    background: #1F8A70;
}

.nav li {
    display: inline-block;
    padding: 0 24px;
    line-height: 27px;
    border-top: 2px solid #1F8A70;
    border-bottom: 2px solid #1F8A70;
    color: #FFFFFF;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav li:hover {
    cursor: pointer;
    border-color: #FFD34E;
}

.nav li a {
    color: #FFFFFF;
    text-decoration: none;
}
/*Конец стилей для хедера*/

/*Начало стилей для основного контента main*/
.content__main {
    margin-bottom: 94px;
}

.content__head {
    font-weight: 300;
    line-height: normal;
    font-size: 34px;
    color: #333333;
    margin: 35px 0 28px 0;
}

.content__main_column a {
    text-decoration: none;
}

.content__main-column-element {
    display: block;
    width: 100%;
    height: 316px;
    border: 1px solid #A1A7B1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.content__main-column-element:hover {
    border-radius: 15px 15px 0 15px;
}

.content__main-column_dogs {
    background: url(../img/main-dogs.png) no-repeat;
}

.content__main-column_cats {
    background: url(../img/main-cats.png) no-repeat;
}

.content__main-column_rodents {
    background: url(../img/main-rodents.png) no-repeat;
}

.content__main-column_birds {
    background: url(../img/main-birds.png) no-repeat;
}

.content__main-column-element_trapezium {
    display:block;
    width: 100%;
    height: 65px;
    background:rgba(31, 138, 112, 0.5);
    -webkit-clip-path: polygon(0 0, 270px 0, 270px 65px, 0 50px);
    clip-path: polygon(0 0, 270px 0, 270px 65px, 0 50px);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 0 0 15px;
    border-radius: inherit;
}

.content__main_column-more {
    display: block;
    width: 51.85%;
    height: 36px;
    background: #ECB200;
    position: absolute;
    right: 20px;
    bottom: 20px;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    border-radius: inherit;
}
/*конец стилей для основного контента main*/

/*Начало стилей для основного контента каталога*/
content {
    min-height: calc(100vh - 366px);
}
.content__crumbs {
    margin-top: 38px;
}

.content__crumbs a {
    text-decoration: none;
}

.content__crumbs_crumb {
    display: inline;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #1F8A70;
}

.content__crumbs span {
    font-weight: bold;
    color: #000;
}

.content__crumbs_crumb:last-child {
    color: #000;
    font-weight: 400;
}

.content__section-name {
    font-weight: 300;
    line-height: normal;
    font-size: 34px;
    color: #333333;
    margin-bottom: 0;
}

.content__tovar-colummn {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 20%;
    padding: 0 15px;
    flex: 0 0 20%;
}

.content__tovar {
    width: 100%;
    height: 400px;
    left: 365px;
    border: 1px solid #A1A7B1;
    margin-top: 30px;
}

.content__tovar_field {
    width: 78.233%;
    margin: 0 auto;
}

.content__tovar_name {
    width: 83.3333%;
    height: 50px;
    margin: 17px auto 0;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #333333;
}

.content__tovar_img {
    display: block;
    width: 80%;
    height: 170px;
    margin: 0 auto;
}

.content__tovar_cost,
.content__tovar_buy {
    width: 78.233%;
    height: 31px;
    margin: 20px auto 0;
    text-align: center;
    color: #FFFFFF;
    line-height: 31px;
}

.content__tovar_cost {
    background: #1F8A70;
    margin-top: 20px;
}

.content__tovar_buy {
    background: #ECB200;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.content__tovar_buy:hover {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid yellow;
}

.content__tovar_buy-img {
    background: url(../img/buy-img.png) no-repeat;
    width: 19.76px;
    height: 17.3px;
    display: inline-block;
    margin-right: 2px;
}

.content__tovar_buy-text {
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    display: inline;
}


.content__pagination {
    display: block;
    width: fit-content;
    height: 40px;
    margin: 50px auto;
}

.content__pagination_element {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1F8A70;
    margin: -11px 10px;
    display: inline-block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}

.content__pagination_element_shadow{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #C8C8C8;
    margin: -11px 10px;
    display: inline-block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #C8C8C8;
    cursor: pointer;
}

.content__pagination_element:hover,
.content__pagination_element:last-child:hover {
    cursor: pointer;
    border-color: #ECB200;
    border-radius: 3px;
}

/*.content__pagination_element:first-child {
    border-color: #C8C8C8;
    position: relative;
    margin-top: 10px;
}*/

.content__pagination_element_arrow_1fst {
    display: block;
    width: 14px;
    height: 14px;
    border-left: 3px solid #C8C8C8;
    border-bottom: 3px solid #C8C8C8;
    position: absolute;
    top: 11px;
    left: 15px;
    transform: rotate(45deg);
}

.content__pagination_element:last-child {
    position: relative;
}

.content__pagination_element:last-child .content__pagination_element_arrow {+
    display: block;
    width: 14px;
    height: 14px;
    border-left: 3px solid #333333;
    border-bottom: 3px solid #333333;
    position: absolute;
    top: 11px;
    left: 10px;
    transform: rotate(225deg);
}

.content__pagination_element span {
    vertical-align: center;
}

.content__pagination_element-selected {
    color: #FFFFFF;
    background: #ECB200;
}
/*Конец стилей для основного контента каталога*/

/*Начало стилей для основного контента карточки товаров*/
.content__row_cartochka-tovar {
    margin: 36px 0 68px 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.content__cartochka-tovar {
    padding-left: 0;
    flex: 0 0 38.88888888888889%;
    max-width: 38.88888888888889%;
    height: 297px;
}

.content__cartochka-tovar_img-wrapper {
    height: 100px;
    background: #fff;
    border: 1px solid #A1A7B1;
    width: 100%;
    height: 100%;
}

.content__cartochka-tovar_img {
    height: 280px;
    width: 100%;
    margin-top: 10px;
    background: url(../img/cartochka-img.png);
    background-position: center;
}

.content__cartochka-tovar_description {
    padding-right: 0;
    flex: 0 0 61.11111111111111%;
    max-width: 61.11111111111111%;
    height: 297px;
}

.content__cartochka-tovar_description-wrapper {
    height: 100%;
}

.content__cartochka-tovar_cost {
    line-height: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1F8A70;
}

.content__cartochka-tovar_cost span {
    font-weight: 500;
    font-size: 24px;
}

.content__cartochka-tovar_description-text {
    width: 100%;
    height: fit-content;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    color: #333333;
}

.content__cartochka-tovar_to-basket {
    margin-top: 24px;
    width: 24.285714%;
    height: 31px;
    background: #ECB200;
    line-height: 31px;
    text-align: center;
    color: #fff;
}

.content__cartochka-tovar_to-basket:hover {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid yellow;
}

.content__cartochka-tovar_purpose-text,
.content__cartochka-tovar_manufacturer-text {
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.content__cartochka-tovar_purpose-name,
.content__cartochka-tovar_manufacturer-name {
    padding-right: 0;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #000000;
}

.content__cartochka-tovar_purpose,
.content__cartochka-tovar_manufacturer {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
}

.content__cartochka-tovar_line {
    border-bottom: 1px solid #B0B0B0;
    /*margin-bottom: 2px;*/
    height: 18px;
}

.content__cartochka-tovar_similar-goods {
    margin-top: 60px;
}

.content__cartochka-tovar_similar-goods-row {
    margin-bottom: 73px;
}

.content__cartochka-tovar-colummn {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 20%;
    padding: 0 15px;
    flex: 0 0 20%;
}


.error_trade{
    text-align:  center;
    font-size: 50px;
    margin: 50px 0px;
}
/*конец стилей для основного контента карточки товаров*/

/*Начало стилей для футера*/
footer {
    background: #FFD34E;
    height: 130px;
}

.footer__column {
    text-align: center;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
}

.footer__column a {
    line-height: 131px;
    color: #1F8A70;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__column a:hover {
    color: #5F9840;
}

.footer__row .footer__column:nth-child(2) a {
    font-weight: bold;
    font-size: 28px;
}

.footer__logo_img {
    display: block;
    width: 170px;
    height: 93px;
    margin-top: 19px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__logo_img:hover {
    opacity: 0.8;
}
/*Конец стилей для футера*/

/*Начало стилей для основного контента корзины*/

th {
    font-weight: 300;
}

.content__basket-table {
    width: 100%;
    margin: 34px 0;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
}

.content__basket-table_thead {
    line-height: normal;
    font-size: 14px;
    color: #fff;
    background: #1F8A70;
    height: 50px;
}

.content__basket-table tbody tr {
    height: 87px;
    border-bottom: 1px solid #B9BDC4;
}

.content__basket-table tr th:first-child,
.content__basket-table tr td:first-child {
    width: 5%;
    text-align: center;
}

.content__basket-table tr td:first-child {
    color: #252525;
}

.content__basket-table tr th:nth-child(2),
.content__basket-table tr td:nth-child(2) {
    width: 8.911%;
    text-align: center;
}

.content__basket-table tr th:nth-child(3),
.content__basket-table tr td:nth-child(3) {
    width: 28%;
    padding-left: 15px;
    text-align: left;
    font-weight: 500;
}

.content__basket-table tr th:nth-child(4),
.content__basket-table tr td:nth-child(4) {
    width: 17%;
    padding-left: 4%;
}

.content__basket-table tr th:nth-child(5),
.content__basket-table tr td:nth-child(5) {
    /*width: 18%;*/
}

.content__basket-table tr th:last-child,
.content__basket-table tr td:last-child {
    width: 6%;
    text-align: center;
}

.content__basket-table_tovar-delete {
    display: inline-block;
    width: 25px;
    height: 28px;
    color: #EA0000;
    font-size: 45px;
    line-height: 30px;
    top: 2px;
    right: 31%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.content__basket-table_tovar-delete:hover {
    color: #EA0000;
    font-size: 55px;
    cursor: pointer;
    text-decoration: none;
}

.content__basket-table .content__cartochka-tovar_coll {
    margin-top: 0;
}

.content__basket-table_img {
    display: block;
    width: 100%;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
    overflow: hidden;
}

.content__basket-table_row-bottom .col-2 a {
    color: #FFFFFF;
    text-decoration: none;
}

.content__basket-table_basket-clear {
    display: block;
    width: 100%;
    height: 31px;
    background: #1F8A70;
    font-weight: 500;
    line-height: 31px;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-align: center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #1F8A70;
}

.content__basket-table_basket-clear:hover {
    border-radius: 5px;
    cursor: pointer;
    border-color: #FFD34E;
}

.content__basket-table_row-bottom {
    margin-bottom: 56px;
}

.content__basket-table_row-bottom .col-2:last-child {
    text-align: right;
    font-size: 20px;
    color: #1F8A70;
}

.content__basket-table_row-bottom .col-2:last-child span {
    font-size: 24px;
    font-weight: bold;
}
/*Конец стилей для основного контента корзины*/

/*Модальное окно*/

.alert_modal {
    text-align: center;
    border-radius: 5px;
    width: 95%;
    height: 60px;
    border: 1px solid green;
    background: #fff;
    position: fixed;
    top: 0%;
    right: 0%;
    margin-right: 20px;
    display: none;
    opacity: 0;
    z-index: 5; 
    padding: 20px 10px;
}

.alert_head{
    text-align: center;
    font-size: 20px;
    color: green;
}

.alert_modal .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
    display: block;
}
/*Начало стилей для футера*/
footer {
    background: #FFD34E;
    height: 130px;
    width: 100%;
}

.footer__column {
    text-align: center;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
}

.footer__column a {
    line-height: 131px;
    color: #1F8A70;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__column a:hover {
    color: #5F9840;
}

.footer__row .footer__column:nth-child(2) a {
    font-weight: bold;
    font-size: 28px;
}

.footer__logo_img {
    display: block;
    width: 170px;
    height: 93px;
    margin-top: 19px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__logo_img:hover {
    opacity: 0.8;
}
/*Конец стилей для футера*/
