
/* base style */
.stepper{
  display: inline-block;
  max-width: 120px;
  width: 100%;
  position: relative;
  margin-top: 23px;
}

.stepper__input{
    width: 100%;
    height: 26px;
    padding: .375rem .75rem;
    border: 1px solid #C4C4C4;
    -moz-appearance: textfield;
    background: #DBDBDB;
}

.stepper__input:focus{
    color: #333;
    background-color: #fff;
    border-color: #1F8A70;
    outline: 0;
}

.stepper__input::-webkit-inner-spin-button,
.stepper__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.stepper__controls [spinner-button="up"],
.stepper__controls [spinner-button="down"]{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  outline: none;
  border: 1px solid #1F8A70;
  background-color: #1F8A70;
  height: 50%;
  font-size: 1.375em;
  line-height: 0;
  transition: all ease 0.25s;
  color: #fff;
}

.stepper__controls [spinner-button="up"]:hover,
.stepper__controls [spinner-button="down"]:hover {
  background-color: #FFD34E;
  border-color: #1F8A70;
  color: #fff;
  cursor: pointer;
}

/* style 2 */
.stepper--style-2{
  max-width: 107px;
}
.stepper--style-2 .stepper__input{
  text-align: center;
}
.stepper--style-2 [spinner-button="up"],
.stepper--style-2 [spinner-button="down"] {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: -1px;
  width: 26px;
  z-index: 1;
}
.stepper--style-2 [spinner-button="up"] {
  right: 0;
  margin-left: -1px;
}
.stepper--style-2 [spinner-button="down"] {
  left: 0;
  margin-right: -1px;
}